
.container {
  padding: 0, 20;
  position: relative;
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.carousel-caption {
  left: 65%;
  top: 30%;
  transform: translate(0, -50%);

  p {
    color: black;
  }

  h3 {
    color: black;
  }
}


.tiles{
  padding-left: 40%;
  padding-top: 45%;
  opacity: 0,5;

  i {
    position: relative;
    font-size: 26px;
    color: white;
  }

  i:hover {
    color: red;
  }
}

.top {
  justify-content: center;
  align-items: center;  
}

.nav:hover {
  transform:translate(50px, 20px)
}
